body {
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

body {
    font: 12px Arial, sans-serif;
}

.container {
    color: black;
    /*background: grey;*/
    /*width: 400px;*/
    /*height: 260px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.content {
    background: #06c;
}*/

