@model LevoSampleSite.Models.Blocks.BasicTextBlockViewModel

<div class=" center">
        <h2 class="container">
            @Html.PropertyFor(x => x.BlockHeading)
        </h2>
        <div>
            @Html.PropertyFor(x => x.BlockText)
        </div>
    
</div>